@import "./variables.css";

.jp-HerokuIcon {
  background: var(--jp-icon-heroku);
}

.jp-Heroku {
  padding-bottom: 0px;
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  display: flex;
  flex-direction: column;
  font-size: var(--jp-ui-font-size1);
}
