@import url("~@blueprintjs/select/lib/css/blueprint-select.css");

@import "./variables.css";

/* Main Heroku Icon*/
.jp-HerokuIcon {
  background: var(--jp-icon-heroku);
}

/* Main Heroku Widget */
.jp-Heroku {
  padding-bottom: 0px;
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  display: flex;
  flex-direction: column;
  font-size: var(--jp-ui-font-size1);
}

/* Heroku Section Header */
.jp-Heroku-header {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  margin: var(--jp-toolbar-header-margin);
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  justify-content: flex-end;
}

/* Heroku Section Header - Title */
.jp-Heroku-header h2 {
  flex: 1 0 auto;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: var(--jp-ui-font-size0);
  padding: 8px 8px 8px 12px;
  margin: 0px;
}

/* Heroku Section Header - Toolbar Buttons */
.jp-HerokuApp-header .jp-ToolbarButtonComponent {
  padding: 0px 16px;
}

/* Heroku Apps listing - Entry */
.jp-HerokuApp-item {
  display: flex;
  flex-direction: row;
  color: var(--jp-ui-font-color1);
  margin-top: 10px;
  height: var(--jp-private-running-item-height);
  line-height: var(--jp-private-running-item-height);
}

/* Heroku Apps listing - Icons */
.jp-HerokuApp-itemIcon {
  flex: 0 0 auto;
  padding: 0px 8px;
  margin-right: 4px;
  margin-left: 12px;
  vertical-align: baseline;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.jp-HerokuApp-itemSuccess {
  color: var(--jp-success-color2);
}

.jp-HerokuApp-itemError {
  color: var(--jp-error-color2);
}

.jp-HerokuApp-itemLabel {
  flex: 1 1 auto;
  font-size: var(--jp-ui-font-size1);
  margin-right: 4px;
  padding-left: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 2px;
  transition: background-color 0.1s ease;
}

.jp-HerokuApp-sectionList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Heroku Settings - Label */
.jp-HerokuSettings-title h4 {
  padding: 8px 8px 4px 16px;
  margin: 0;
  font-weight: 200;
}

/* Heroku Settings - List of settings */
.jp-HerokuSettings-sectionList {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Heroku Settings - Dropdown */
.jp-HerokuSettings-dropdown.bp3-html-select.jp-HTMLSelect {
  margin: 5px 16px;
  height: 24;
  font-size: var(--jp-ui-font-size1);
  line-height: 14px;
  border-radius: 0;
  display: block;
  color: var(--jp-ui-font-color0);
  background: var(--jp-layout-color1);
}

.jp-HerokuSettings-dropdown.bp3-html-select.jp-HTMLSelect select {
  color: var(--jp-ui-font-color0);
  background: var(--jp-layout-color1);
  border: var(--jp-border-width) solid var(--jp-toolbar-border-color);
}

/* Heroku Settings - TextArea */
.jp-HerokuSettings-textarea.bp3-input {
  height: 150px;
  margin: 5px 16px;
  font-size: var(--jp-ui-font-size1);
  border-radius: 0;
  color: var(--jp-ui-font-color0);
  background: var(--jp-layout-color1);
  border: var(--jp-border-width) solid var(--jp-toolbar-border-color);
}
