@import "./variables.css";

.jp-HerokuIcon {
  background: var(--jp-icon-heroku);
}

.jp-Heroku {
  padding-bottom: 0px;
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  display: flex;
  flex-direction: column;
  font-size: var(--jp-ui-font-size1);
}

.jp-HerokuApp-header {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  margin: var(--jp-toolbar-header-margin);
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  justify-content: flex-end;
}

.jp-HerokuApp-header h2 {
  flex: 1 0 auto;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: var(--jp-ui-font-size0);
  padding: 8px 8px 8px 12px;
  margin: 0px;
}

.jp-HerokuApp-header .jp-ToolbarButtonComponent {
  padding: 0px 16px;
}

.jp-HerokuApp-item {
  display: flex;
  flex-direction: row;
  color: var(--jp-ui-font-color1);
  height: var(--jp-private-running-item-height);
  line-height: var(--jp-private-running-item-height);
  margin-top: 10px;
}

.jp-HerokuApp-itemIcon {
  flex: 0 0 auto;
  padding: 0px 8px;
  margin-right: 4px;
  margin-left: 12px;
  vertical-align: baseline;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.jp-HerokuApp-itemSuccess {
  color: green;
}

.jp-HerokuApp-itemError {
  color: red;
}

.jp-HerokuApp-itemLabel {
  font-size: var(--jp-ui-font-size1);
  flex: 1 1 auto;
  margin-right: 4px;
  padding-left: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 2px;
  transition: background-color 0.1s ease;
}

.jp-HerokuApp-sectionList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
